<div class="container">
  <h1>Message Thread</h1>
  <hr>
  <% if @over_ten %>
     <%= link_to 'Show Previous', '?m=all' %>
  <% end %>

  <div class="ui segment">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div class="item">
          <div class="message-content">
            <div class="message-top d-flex justify-content-between">
              <h4 class="message-header"><strong><%= user.first_name + " " + user.last_name%></strong></h4>
              <p class="message-time"><%= message.message_time %></p>
            </div>
            <div class="list">
              <div class="message-body">
                <h5><%= message.body %></h5>
              </div>
            </div>
          </div>
        </div>
        <hr class="bg-primary">
      <% end %>
    <% end %>
  </div>

  <%= form_for [current_user, @conversation, @message], html: {class: "ui reply form"} do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <div>
      <%= f.submit "Send", class: "ui blue labeled submit icon button" %>
    </div>

  <% end %>
</div>
