<div class="ui segment">
  <div class="ui list">
    <div class="item">
      <% @conversations.each do |conversation| %>
        <% if conversation.messages.present? %>
          <% if conversation.worker_id == current_user.id || conversation.manager_id == current_user.id %>
            <% if conversation.worker_id == current_user.id %>
              <% user = User.find(conversation.manager_id) %>
            <% else %>
              <% user = User.find(conversation.worker_id) %>
            <% end %>
            <div class="inbox-card">
              <%= link_to user_conversation_messages_path(current_user, conversation) do%>
                <div class="card-body bg-info justify-content-between align-items-center p-2">
                <h2><%=user.first_name + " " + user.last_name%> - <%=conversation.placement.project.site.name%></h2>
                  <div class="inbox-card-content d-flex">
                    <div class="image-square bg-dark rounded">
                      <%= cl_image_tag conversation.placement.project.site.photo.key, width: 48, height: 48, crop: :fit, class: "rounded" %>
                    </div>
                    <div class="inbox-left flex-grow-1 mx-2">
                      <p><strong>Job: <%= conversation.placement.project.job_type %></strong></p>
                      <p><%= conversation.placement.project.site.location %></p>
                    </div>
                    <p><%= conversation.placement.project.start_date %> - <%= conversation.placement.project.end_date %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
