<h1><%= site.name %></h1>
<div class="site-details d-flex justify-content-between">
  <h5><%= site.location %></h5>
</div>

<div class="accordion" id="project-accordion-<%= site.id %>">
  <% site.projects.each do |project| %>
    <% confirmed_placements = project.placements.all %>

    <div class="dashboard-project-card card bg-transparent">

      <button class="btn btn-secondary" id="<%= project.job_type %>" type="button" data-toggle="collapse" data-target="#project<%= project.id %>" aria-expanded="false" aria-controls="project <%= project.id %>">
          <div class="button-left d-flex">
            <p class="mr-3"><%= project.job_type %></p>
        </div>
          <p><%= project.start_date.strftime('%a, %b %d') %> - <%= project.end_date.strftime('%a, %b %d') %></p>
      </button>

      <div id="project<%= project.id %>" class="collapse text-left" aria-labelledby="<%= project.job_type %>" data-parent="#project-accordion-<%= site.id %>">
        <div class="card-body">

          <div class="project_details">
            <h4><strong><%= project.job_type %></strong></h4>
            <!-- <p><%#= number_to_currency(project.wage, unit: "£", precision: 0) %> / per hour </p> -->
          </div>
            <hr>



          <div class="confirmed bg-secondary rounded mb-3 pb-2">

            <div class="header d-flex justify-content-between bg-info p-2">
              <h5 class= "m-0">Completed:</h5>
              <p class= "m-0 badge-pill bg-success text-dark"><%= confirmed_placements.length %> / <%= project.capacity %></p>
            </div>

            <% if !confirmed_placements.empty? %>
              <% confirmed_placements.each do |placement| %>
                <div class="placement_card bg-secondary py-2 px-3 d-flex">

                  <div class="placement-info d-flex align-items-center border-right pr-3">
                    <p class="m-0"><strong><%= placement.user.first_name %> <%= placement.user.last_name %></strong></p>
                  </div>

                  <div class="placement-qualifications d-flex flex-grow-1">
                    <div class="qualification-box d-flex align-items-center rounded pl-2 pr-1 py-2 ml-3">
                      <% placement.user.qualifications.each do |qualification| %>
                        <%= image_tag "#{qualification.name.downcase.gsub(" ", "_")}.svg", alt: "#{qualification.name}", height: 40, class: "mr-2" %>
                      <% end %>
                    </div>
                  </div>

                  <div class="placement-confirm d-flex align-items-center">
                    Confirmed
                  </div>

                </div>
              <% end %>
            <% else %>
              <p class="text-center mb-0 mt-2">No confirmed placements</p>
            <% end %>
          </div>
      </div>

    </div>
  <% end %>
</div>


