<h1><%= site.name %></h1>
<div class="site-details d-flex justify-content-between">
  <h5><%= site.location %></h5>
</div>

<div class="accordion" id="project-accordion-<%= site.id %>">
  <% site.projects.each do |project| %>
    <% rated_placements = [] %>
    <% unrated_placements = [] %>
    <% project.placements.each do |placement| %>
      <% placement.rating.present? ? rated_placements << placement : unrated_placements << placement %>
    <% end %>
    <div class="dashboard-project-card card bg-transparent">

      <button class="btn btn-secondary" id="<%= project.job_type %>" type="button" data-toggle="collapse" data-target="#project<%= project.id %>" aria-expanded="false" aria-controls="project <%= project.id %>">
          <div class="button-left d-flex">
            <p class="mr-3"><%= project.job_type %></p>
        </div>
          <p><%= project.start_date.strftime('%a, %b %d') %> - <%= project.end_date.strftime('%a, %b %d') %></p>
      </button>

      <div id="project<%= project.id %>" class="collapse text-left" aria-labelledby="<%= project.job_type %>" data-parent="#project-accordion-<%= site.id %>">
        <div class="card-body">

          <div class="project_details">
            <h4><strong><%= project.job_type %></strong></h4>
            <!-- <p><%#= number_to_currency(project.wage, unit: "£", precision: 0) %> / per hour </p> -->
          </div>
            <hr>

          <div class="applicants bg-secondary rounded pb-2">

            <div class="header d-flex justify-content-between bg-info p-2">
              <h5 class= "m-0">Rate:</h5>
              <p class= "m-0 badge-pill bg-danger"><%= project.capacity - rated_placements.length %> required</p>
            </div>

            <% if !unrated_placements.empty? %>
              <% unrated_placements.each do |placement| %>
                <div class="placement_card bg-secondary py-2 px-3 d-flex">
                  <div class="placement-photo">
                    <% if @user.avatar.attached? %>
                      <%= cl_image_tag @user.avatar.key, height: 100, width: 100, crop: :fill, class: "user-avatar" %>
                    <% else %>
                      <%= image_tag("avatar-placeholder1.jpg", height: 100, width: 100, crop: :fill, class: "empty-avatar") %>
                    <% end %>
                  </div>
                  <div class="placement-info d-flex align-items-center border-right pr-3">
                    <h4 class="m-0"><strong><%= placement.user.first_name %> <%= placement.user.last_name %></strong></h4>
                  </div>

                  <div class="placement-confirm d-flex align-items-center">
                    <%= simple_form_for [placement, @new_rating], html: { class: "rating_form" } do |f| %>
                      <%= f.input :star_rating, collection: (1..5).to_a %>
                      <%= f.text_field :manager_id, value: placement.project.site.user.id, type: "hidden"  %>
                      <%= f.text_field :worker_id, value: placement.user.id, type: "hidden"  %>
                      <%= f.text_field :placement_id, value: placement.id, type: "hidden"  %>
                      <%= f.submit "Submit rating"%>
                    <% end %>
                  </div>

                </div>
              <% end %>
            <% else %>
              <p class="text-center mb-0 mt-2">All workers rated</p>
            <% end %>
          </div>


          <div class="confirmed bg-secondary rounded mt-3 pt-2">

            <div class="header d-flex justify-content-between bg-info p-2">
              <h5 class= "m-0">Completed:</h5>
              <p class= "m-0 badge-pill bg-primary text-dark"><%= rated_placements.length %> / <%= project.capacity %></p>
            </div>

            <% if !rated_placements.empty? %>
              <% rated_placements.each do |placement| %>
                <div class="placement_card bg-secondary py-2 px-3 d-flex">
                  <div class="placement-photo pr-2">
                    <% if @user.avatar.attached? %>
                      <%= cl_image_tag @user.avatar.key, height: 50, width: 50, crop: :fill, class: "user-avatar" %>
                    <% else %>
                      <%= image_tag("avatar-placeholder1.jpg", height: 50, width: 50, crop: :fill, class: "empty-avatar") %>
                      <% end %>
                  </div>
                  <div class="placement-info d-flex align-items-center border-right pr-3">
                    <h4 class="m-0"><strong><%= placement.user.first_name %> <%= placement.user.last_name %></strong></h4>
                  </div>

                  <div class="placement-confirm d-flex align-items-center">
                    <select id="given-rating">
                      <%= placement.rating.star_rating %>
                    </select>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p class="text-center mb-0 mt-2">No rated placements</p>
            <% end %>
          </div>

        </div>

      </div>
    </div>
  <% end %>
</div>


