<% @placements.each do |placement| %>
  <div class="placement-card d-flex justify-content-between">
    <div class="placement-left">
      <h4><%= placement.project.site.name %> - <%= placement.project.site.location %> - <%= placement.project.job_type %></h4>
      <p><%= placement.project.description %></p>
    </div>
    <div class="placement-right">
      <p>Start: <%= placement.project.start_date %></p>
      <p>End: <%= placement.project.end_date %></p>
      <p>Wage: <%= number_to_currency(placement.project.wage, unit: "£", precision: 0) %>/hr</p>
    </div>
  </div>
  <hr>
<% end %>
