<h1><%= site.name %></h1>
<div class="site-details d-flex justify-content-between">
  <h5><%= site.location %></h5>
  <p><%= pluralize(site.projects.count, 'Open project') %></p>
</div>

<div class="accordion" id="project-accordion-<%= site.id %>">
  <% site.projects.each do |project| %>

    <% confirmed_placements = project.placements.select{ |p| p.confirmed } %>
    <% unconfirmed_placements = project.placements.select{ |p| p.confirmed == nil } %>

    <div class="dashboard-project-card card bg-transparent">

      <button class="btn btn-secondary" id="<%= project.job_type %>" type="button" data-toggle="collapse" data-target="#project<%= project.id %>" aria-expanded="false" aria-controls="project <%= project.id %>">
          <div class="button-left d-flex">
            <p class="mr-3"><%= project.job_type %></p>
            <% if unconfirmed_placements.count > 0 %>
              <span class= "m-0 badge-pill bg-danger text-white"><%= unconfirmed_placements.count %></span>
            <% end %>
        </div>
          <p><%= project.start_date.strftime('%a, %b %d') %> - <%= project.end_date.strftime('%a, %b %d') %></p>
      </button>

      <div id="project<%= project.id %>" class="collapse text-left" aria-labelledby="<%= project.job_type %>" data-parent="#project-accordion-<%= site.id %>">
        <div class="card-body">

          <div class="project_details">
            <h4><strong><%= project.job_type %></strong></h4>
            <p class=""><%= project.description %></p>
            <!-- <p><%#= number_to_currency(project.wage, unit: "£", precision: 0) %> / per hour </p> -->
          </div>
            <hr>



          <div class="confirmed bg-secondary rounded mb-3 pb-2">

            <div class="header d-flex justify-content-between bg-info p-2">
              <h5 class= "m-0">Confirmed:</h5>
              <p class= "m-0 badge-pill bg-success text-dark"><%= confirmed_placements.length %> / <%= project.capacity %></p>
            </div>

            <% if !confirmed_placements.empty? %>
              <% confirmed_placements.each do |placement| %>
                <div class="placement_card bg-secondary py-2 px-3 d-flex">

                  <div class="placement-info d-flex align-items-center border-right pr-3">
                    <p class="m-0"><strong><%= placement.user.first_name %> <%= placement.user.last_name %></strong></p>
                  </div>

                  <div class="placement-qualifications d-flex flex-grow-1">
                    <div class="qualification-box d-flex align-items-center rounded pl-2 pr-1 py-2 ml-3">
                      <% placement.user.qualifications.each do |qualification| %>
                        <%= image_tag "#{qualification.name.downcase.gsub(" ", "_")}.svg", alt: "#{qualification.name}", height: 40, class: "mr-2" %>
                      <% end %>
                    </div>
                  </div>

                  <div class="placement-confirm d-flex align-items-center">
                    Confirmed
                  </div>

                </div>
              <% end %>
            <% else %>
              <p class="text-center mb-0 mt-2">No confirmed placements</p>
            <% end %>
          </div>

          <div class="applicants bg-secondary rounded pb-2">

            <div class="header d-flex justify-content-between bg-info p-2">
              <h5 class= "m-0">Applicants:</h5>
              <p class= "m-0 badge-pill bg-success text-dark"><%= project.capacity - confirmed_placements.length %> required</p>
            </div>

            <% if !unconfirmed_placements.empty? %>
              <% unconfirmed_placements.each do |placement| %>
                <div class="placement_card bg-secondary py-2 px-3 d-flex">

                  <div class="placement-info d-flex align-items-center border-right pr-3">
                    <p class="m-0"><strong><%= placement.user.first_name %> <%= placement.user.last_name %></strong></p>
                  </div>

                  <div class="placement-qualifications d-flex flex-grow-1">
                    <div class="qualification-box d-flex align-items-center rounded pl-2 pr-1 py-2 ml-3">
                      <% placement.user.qualifications.each do |qualification| %>
                        <%= image_tag "#{qualification.name.downcase.gsub(" ", "_")}.svg", alt: "#{qualification.name}", height: 40, class: "mr-2" %>
                      <% end %>
                    </div>
                  </div>


                  <div class="placement-confirm d-flex align-items-center">
                    <%= simple_form_for([project, placement], remote: true) do |f| %>
                      <%= f.input :confirm, :as => :hidden, :input_html => { :value => "true" }, wrapper_html: { class: "m-0" } %>
                      <%= f.submit "Confirm", class: "btn btn-primary" %>
                    <% end %>
                  </div>

                  <div class="placement-reject ml-3 d-flex align-items-center">
                    <button type="button" class="btn btn-danger sweet-alert-reject" data-id="<%= placement.id %>">Reject</button>
                    <%= simple_form_for([project, placement], remote: true, :html => {id: "reject-#{placement.id}"}) do |f| %>
                      <%= f.input :confirm, :as => :hidden, input_html: { value: "false" } %>
                      <%= f.submit "Reject", type: "hidden" %>
                    <% end %>
                  </div>



                </div>
              <% end %>
            <% else %>
              <p class="text-center mb-0 mt-2">No applicants</p>
            <% end %>
          </div>

        </div>
      </div>

    </div>
  <% end %>

  <div class="dashboard-project-card card bg-transparent">
    <button class="btn btn-secondary justify-content-center" id="new-project" type="button" data-toggle="collapse" data-target="#new-project-form" aria-expanded="false" aria-controls="new-project-form">
      + Add New Project
    </button>

    <div class="collapse mb-3 text-left" id="new-project-form" aria-labelledby="new-project" data-parent="#project-accordion-<%= site.id %>">
      <div class="card-body">
        <%= render 'projects/form', site: site, project: Project.new %>
      </div>
    </div>
  </div>
</div>


