<div class="map-modal-background d-none justify-content-center align-items-center">
  <div class="map-modal bg-white p-3">
    <div class="map-modal-top text-right mb-2">
      <span class="close-modal"><i class="fas fa-times"></i></span>
    </div>
    <div class="map" id=""
       style="width: 100%; height: 94%;"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

<div class="container">
  <% if current_user.manager %>
    <% if @sites.length > 1 %>
      <% first_site = @sites[0] %>
      <% first_site_application_count = first_site.placements.select { |p| p.confirmed != true }.count %>
      <!-- List group -->
      <div class="row pt-4">
        <div class="list-group col-md-3" id="myList" role="tablist">
          <a class="list-group-item list-group-item-action disabled"><strong>Sites</strong></a>
          <a class="list-group-item list-group-item-action active d-flex justify-content-between" data-toggle="list" href="#site<%= first_site.id %>" role="tab">
            <%= first_site.name %>
            <% if first_site_application_count > 0 %>
              <span class= "m-0 badge-pill bg-danger text-white"><%= first_site_application_count %></span>
            <% end %>
          </a>
          <% @sites.each_with_index do |site, i| %>
            <% next if i == 0 %>
            <% site_application_count = site.placements.select { |p| p.confirmed != true }.count %>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#site<%= site.id %>" role="tab">
              <%= site.name %>
              <% if site_application_count > 0 %>
                <span class= "m-0 badge-pill bg-danger text-white"><%= site_application_count %></span>
              <% end %>
            </a>
          <% end %>
          <a class="list-group-item list-group-item-action text-center" data-toggle="list" href="#new-site" role="tab">+ Add a new site</a>
        </div>

        <!-- Tab panes -->
        <div class="tab-content col-md-9">
          <div class="tab-pane fade show active" id="site<%= first_site.id %>" role="tabpanel">
            <%= render partial: 'site', locals: {site: first_site} %>
          </div>
          <% @sites.each_with_index do |site, i| %>
            <% next if i == 0 %>
            <div class="tab-pane fade" id="site<%= site.id %>" role="tabpanel">
              <%= render partial: 'site', locals: {site: site} %>
            </div>
          <% end %>
          <div class="tab-pane fade" id="new-site" role="tabpanel">
            <%= render 'sites/form', site: @new_site %>
          </div>
        </div>
      </div>

    <% elsif @sites.length == 1 %>
      <%= render 'site', site: first_site %>

    <% else %>
      <p class="text-center bg-info rounded py-2 border mb-5">You do not have any sites, please create one using the form below.</p>
      <h1 class="text-center">Create a Site:</h1>
      <div class="site-form col-sm-8 offset-sm-2">
        <%= render 'sites/form', site: @new_site %>
      </div>
    <% end %>

  <% else %>

    <%= render 'user_dashboard_header' %>

    <% if @placements.empty? %>
      <h3> No upcoming jobs, search for some in your area:</h3>
      <form novalidate="novalidate" method="get" action="/projects" class="simple_form search p-3">
      <div class="search-form-control form-group">
        <input type="text" name="query" autocomplete="off" placeholder="Enter Postcode" tabindex="100" class="form-control string required" id="flat_address">
        <div class="search-button">
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search" id="search-icon"></i> Search
          </button>
        </div>
      </div>
      </form>
    <% else %>

      <% @placements.each do |placement| %>
        <div class="placement-card d-flex justify-content-between">

          <div class="card-body bg-info d-flex justify-content-between align-items-center p-2">

            <div class="image-square bg-dark rounded">
              <%= cl_image_tag placement.project.site.photo.key, width: 48, height: 48, crop: :fit, class: "rounded" %>
            </div>

            <div class="placement-left flex-grow-1 mx-2">
              <p class="text-primary"><strong><%= placement.project.site.name %> - <%= placement.project.job_type %></strong></p>
              <p><%= placement.project.site.location %></p>
            </div>

            <div class="placement-date">
              <p><%= placement.project.start_date %> - <%= placement.project.end_date %></p>
            </div>

            <h4 class="placement-card-wage border-left h-100 px-3 ml-3 mb-0 d-flex align-items-center"><strong class="text-primary"><%= number_to_currency(placement.project.wage, unit: "£", precision: 0) %><small> /hr</small></strong></h4>

          </div>

          <%= link_to placement_conversations_path(placement), method: "post", class: "message-button-link ml-2" do %>
            <button class="btn btn-primary d-flex justify-content-center align-items-center message-button w-100 h-100" data-latitude="<%= placement.project.site.latitude %>" data-longitude="<%= placement.project.site.longitude %>">
              <span><i class="fas fa-comment-alt"></i></span>
            </button>
          <% end %>

          <button class="btn btn-primary d-flex justify-content-center align-items-center map-button ml-2" data-latitude="<%= placement.project.site.latitude %>" data-longitude="<%= placement.project.site.longitude %>">
            <span><i class="fas fa-map-marker-alt"></i></span>
          </button>

        </div>
        <hr>
      <% end %>

    <% end %>

  <% end %>
</div>
