<div class="map-modal-background d-none justify-content-center align-items-center">
  <div class="map-modal bg-white p-3">
    <div class="map-modal-top text-right mb-2">
      <span class="close-modal"><i class="fas fa-times"></i></span>
    </div>
    <div class="map" id=""
       style="width: 100%; height: 94%;"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

<div class="container">
  <% if current_user.manager %>
    <% if @sites.length > 1 %>
      <% first_site = @sites[0] %>
      <% first_site_application_count = first_site.placements.select { |p| p.confirmed != true }.count %>
      <!-- List group -->
      <div class="row pt-4">
        <div class="list-group col-md-3" id="myList" role="tablist">
          <a class="list-group-item list-group-item-action disabled"><strong>Sites</strong></a>
          <a class="list-group-item list-group-item-action active d-flex justify-content-between" data-toggle="list" href="#site<%= first_site.id %>" role="tab">
            <%= first_site.name %>
            <% if first_site_application_count > 0 %>
              <span class= "m-0 badge-pill bg-danger text-white"><%= first_site_application_count %></span>
            <% end %>
          </a>
          <% @sites.each_with_index do |site, i| %>
            <% next if i == 0 %>
            <% site_application_count = site.placements.select { |p| p.confirmed != true }.count %>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#site<%= site.id %>" role="tab">
              <%= site.name %>
              <% if site_application_count > 0 %>
                <span class= "m-0 badge-pill bg-danger text-white"><%= site_application_count %></span>
              <% end %>
            </a>
          <% end %>
          <a class="list-group-item list-group-item-action text-center" data-toggle="list" href="#new-site" role="tab">+ Add a new site</a>
        </div>

        <!-- Tab panes -->
        <div class="tab-content col-md-9">
          <div class="tab-pane fade show active" id="site<%= first_site.id %>" role="tabpanel">
            <%= render partial: 'site', locals: {site: first_site} %>
          </div>
          <% @sites.each_with_index do |site, i| %>
            <% next if i == 0 %>
            <div class="tab-pane fade" id="site<%= site.id %>" role="tabpanel">
              <%= render partial: 'site', locals: {site: site} %>
            </div>
          <% end %>
          <div class="tab-pane fade" id="new-site" role="tabpanel">
            <%= render 'sites/form', site: @new_site %>
          </div>
        </div>
      </div>

    <% elsif @sites.length == 1 %>
      <%= render 'site', site: first_site %>

    <% else %>
      <p class="text-center bg-info rounded py-2 border mb-5">You do not have any sites, please create one using the form below.</p>
      <h1 class="text-center">Create a Site:</h1>
      <div class="site-form col-sm-8 offset-sm-2">
        <%= render 'sites/form', site: @new_site %>
      </div>
    <% end %>

  <% else %>

    <%= render 'user_dashboard_header' %>

    <% @placements.each do |placement| %>
      <div class="placement-card d-flex justify-content-between">
        <div class="placement-left">
          <h4><%= placement.project.site.name %> - <%= placement.project.site.location %> - <%= placement.project.job_type %></h4>
          <p><%= placement.project.description %></p>
        </div>
        <div class="placement-right">
          <p>Start: <%= placement.project.start_date %></p>
          <p>End: <%= placement.project.end_date %></p>
          <p>Wage: <%= number_to_currency(placement.project.wage, unit: "£", precision: 0) %>/hr</p>
        </div>
      </div>
      <hr>
    <% end %>

  <% end %>
</div>
