<div class="container">
  <% if current_user.manager %>
    <% first_site = @sites[0] %>
    <% first_site_application_count = first_site.placements.select { |p| p.confirmed != true }.count %>
    <% if @sites.length > 1 %>
      <!-- List group -->
      <div class="row pt-4">
        <div class="list-group col-md-3" id="myList" role="tablist">
          <a class="list-group-item list-group-item-action disabled"><strong>Sites</strong></a>
          <a class="list-group-item list-group-item-action active d-flex justify-content-between" data-toggle="list" href="#site<%= first_site.id %>" role="tab">
            <%= first_site.name %>
            <% if first_site_application_count > 0 %>
              <span class= "m-0 badge-pill bg-danger text-white"><%= first_site_application_count %></span>
            <% end %>
          </a>
          <% @sites.each_with_index do |site, i| %>
            <% next if i == 0 %>
            <% site_application_count = site.placements.select { |p| p.confirmed != true }.count %>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#site<%= site.id %>" role="tab">
              <%= site.name %>
              <% if site_application_count > 0 %>
                <span class= "m-0 badge-pill bg-danger text-white"><%= site_application_count %></span>
              <% end %>
            </a>
          <% end %>
          <a class="list-group-item list-group-item-action text-center" data-toggle="list" href="#new-site" role="tab">+ Add a new site</a>
        </div>

        <!-- Tab panes -->
        <div class="tab-content col-md-9">
          <div class="tab-pane fade show active" id="site<%= first_site.id %>" role="tabpanel">
            <%= render partial: 'site', locals: {site: first_site} %>
          </div>
          <% @sites.each_with_index do |site, i| %>
            <% next if i == 0 %>
            <div class="tab-pane fade" id="site<%= site.id %>" role="tabpanel">
              <%= render partial: 'site', locals: {site: site} %>
            </div>
          <% end %>
          <div class="tab-pane fade" id="new-site" role="tabpanel">
            <%= render 'sites/form', site: @new_site %>
          </div>
        </div>
      </div>

    <% elsif @sites.length == 1 %>
      <%= render 'site', site: first_site %>

    <% else %>
      <p class="text-center bg-info rounded py-2 border mb-5">You do not have any sites, please create one using the form below.</p>
      <h1 class="text-center">Create a Site:</h1>
      <div class="site-form col-sm-8 offset-sm-2">
        <%= render 'sites/form', site: @new_site %>
      </div>
    <% end %>

  <% else %>

    <div class="dashboard-search">
      <form method="get" action="/projects" class="w-50 p-3">
        <input type="text" name="query" autocomplete="off" placeholder="Enter Postcode" tabindex="100" class="form-control" id="flat_address">
        <input type="submit" value="Search" class="btn btn-flat">
      </form>
    </div>

    <ul class="nav nav-tabs">
      <li class="tab active" id="tab-placements"><a href="#">Upcoming</a></li>
      <li class="tab" id="tab-applications"><a href="#">Applications</a></li>
      <li class="tab" id="tab-history"><a href="#">History</a></li>
      <li class="tab" id="tab-qualifications"><a href="#">Your Qualifications</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="placements">
        <%= render 'placements' %>
      </div>
      <div class="tab-pane" id="applications">
        <%= render 'applications' %>
      </div>
      <div class="tab-pane" id="history">
        <%= render 'history' %>
      </div>
      <div class="tab-pane" id="qualifications">
        <%= render 'qualifications' %>
      </div>
    </div>

  <% end %>
</div>
