<div class="container">
  <%= render 'user_dashboard_header' %>

  <div class="qualification-form bg-info rounded p-3">
    <h4>Add a qualification:</h4>
    <%= simple_form_for [current_user, @new_qualification] do |f| %>
      <div class="form-inline d-flex">
        <%= f.association :qualification, label: false, input_html: {class: "w-100"}, wrapper_html: { class: 'flex-grow-1' } %>
        <%= f.submit "Add Qualification", class: "btn btn-primary ml-2" %>
      </div>
    <% end %>
  </div>

  <div class="qualification-grid mt-4">
    <% @qualifications.each do |qualification| %>
      <div class="qualification-card rounded">

        <div class="qualification-card-header d-flex justify-content-between px-3 pt-2">
          <h4><%= qualification.qualification.name.gsub(/\(.*/, '').gsub(/Aw.*/, 'Aware') %></h4>

          <div class="icons">
            <%= link_to qualification_destroy_path(qualification), method: :delete, data:
              { confirm: 'Are you certain you want to delete this?' } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>

        <div class="qualification-badge d-flex align-items-center justify-content-center">
          <%= image_tag "#{qualification.qualification.name.downcase.gsub(" ", "_")}.svg", alt: "#{qualification.qualification.name} badge", class: "qualification-img" %>
        </div>

      </div>
    <% end %>
  </div>
</div>
