<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
url('<%= image_path "banner.jpg", height: 400, crop: :fill %>'); background-size: cover; background-position: 50% 60%;">
  <div class="title">
    <h1>Bild</h1>
    <h4>Connecting you with construction work</h4>
  </div>

  <!-- <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
 </form> -->

  <form novalidate="novalidate" method="get" action="/projects" class="simple_form search w-50 p-3">
    <div class="search-form-control form-group">
      <input type="text" name="query" autocomplete="off" placeholder="Enter Postcode" tabindex="100" class="form-control string required" id="flat_address">
      <div class="search-button">
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search" id="search-icon"></i> Search
        </button>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <h2>How It Works</h2>
  <div class="cards mt-5">
    <div class="card-category" style="width: 22rem;">
      <div class="card-body">
        <i class="fas fa-map-marked-alt"></i>
        <h3 class="card-title">Find Jobs</h3>
        <p class="card-text">We give you access to every registered building site on our database</p>
      </div>
    </div>
    <div class="card-category" style="width: 22rem;">
      <div class="card-body">
        <i class="fas fa-check"></i>
        <h3 class="card-title">Apply</h3>
        <p class="card-text">One click application makes applying to jobs easier than ever before.</p>
        </div>
    </div>
    <div class="card-category" style="width: 22rem;">
      <div class="card-body">
        <i class="fas fa-hard-hat"></i>
        <h3 class="card-title">Start Working</h3>
        <p class="card-text">Manage your schedule and earn more. Take back control over your workflow</p>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<h2 style="margin-left: 195px">Recently Added Jobs</h2>

<br>
<br>

<div class="grid-container">
  <div class="home-projects-grid mx-3">
      <%recent_jobs = @projects.sample(3) %>
      <% recent_jobs.each do |project|%>
        <%= link_to project_path(project) do %>
          <div class="homepage-project-card">
            <%= cl_image_tag project.site.photo.key %>
            <% if project.site.photo.attached? %>
              <div class="homepage-project-card-info">
                <div class="bottom text-right px-2 py-1">
                  <h5><%= project.job_type %></h5>
                  <h7><%= project.capacity %> jobs left · <%=number_to_currency(project.wage, unit: "£", precision: 0) %>/hr </h7>
                  <br>
                  <h7><%=project.start_date.strftime('%A %e %B') %> to <%=project.end_date.strftime('%A %e %B') %></h7>
                </div>
              </div>
            <% else %>
              <div class="homepage-project-card-photo" style="background-color: $light-gray"></div>
            <% end %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>



