<%= simple_form_for [site, project] do |f| %>
  <div class="row">
    <div class="col-4">
      <%= f.input :start_date, html5: true %>
      </div>
      <div class="col-4">
      <%= f.input :end_date, html5: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <%= f.input :job_type %>
    </div>
    <div class="col-4">
      <%= f.input :wage %>
    </div>
    <div class="col-4">
      <%= f.input :capacity %>
    </div>
  </div>

  <%= f.input :description %>

  <div class="form-group">
    <div class="qualification-choices">
      <input type="checkbox" class="d-none" name="project[autoconfirm]" id="project[autoconfirm]">
      <label for="project[autoconfirm]" class="mb-2 qualification-choice">
        Auto-confirm?
        <i class="fa fa-check mb-0"></i>
      </label>
      <% Qualification.all.each do |qualification| %>
        <input type="checkbox" class="d-none" value="<%= qualification.id %>" name="project[qualification_ids][]" id="project_qualification_ids_<%= qualification.id %>">
        <label for="project_qualification_ids_<%= qualification.id %>" class="mb-2 align-text-bottom qualification-choice">
          <%= qualification.name.gsub(/\(.*/, '') %>
          <i class="fa fa-check mb-0"></i>
        </label>
      <% end %>
    </div>
  </div>

  <%= f.submit "Add New Project", class:"btn btn-primary w-100" %>
<% end %>
