<!-- selects which tab results are directed to  -->
<% if params[:active] == "map" %>
  <form method="get" action="/projects/map" class="w-100 p-3" >
<% elsif params[:active] == "combined" %>
  <form method="get" action="/projects/combined" class="w-100 p-3" >
<% else %>
  <form method="get" action="/projects/" class="w-100 p-3" >
<% end %>

  <div class="form-group d-flex">
    <input type="text" name="query" autocomplete="off" value="<%= params[:query] %>" placeholder="Enter Postcode" tabindex="100" class="form-control" id="£flat_address">
    <input type="number" name="distance" autocomplete="off" value="<%= params[:distance] %>" placeholder="Enter Max distance" tabindex="100" class="form-control" id="max-distance">
    <input type="text" name="start_date" autocomplete="off" value="<%= params[:start_date] %>"placeholder="Enter Start Date" tabindex="100" class="form-control" id="start-date" onfocus="(this.type='date')">
    <input type="number" name="wage" autocomplete="off" value="<%= params[:wage] %>" placeholder="Enter Minimum Wage" tabindex="100" class="form-control" id="min-wage">
  </div>

  <div class="form-group d-flex justify-content-center">
    <select id="site_type" name="site_type" tabindex="100" class="form-control w-25">
      <option value="" disabled <%= 'selected' unless params[:site_type] %>>Site Type</option>
      <% Site::SITE_TYPES.each do |name| %>
        <option value="<%= name %>" <%= 'selected' if params[:site_type] == name %>><%= name %></option>
      <% end %>
    </select>
      <select id="sort_by" tabindex="100" name="sort_by" class="form-control w-25">
        <option value="" disabled <%= 'selected' unless params[:sort_by] %>>Sort By</option>
        <option value="wage" <%= 'selected' if params[:sort_by] == 'wage' %>>Wage</option>
        <option value="start_date" <%= 'selected' if params[:sort_by] == 'start_date'%>>Start Date</option>
      </select>
    <div class="form-group">
      <input type="checkbox" tabindex="100" name="autoconfirm" class="m-2" id="autoconfirm" <%= 'checked' if params[:autoconfirm] == 'on' %>>
      <label for="autoconfirm" class = "m-0" style="line-height: 2;">Auto-Confirm Only</label>
    </div>

    <!-- sends tab tag with search for correct active tab css display on results -->
    <% if params[:active] == "map" %>
      <%= hidden_field_tag :active, 'map' %>
    <% elsif params[:active] == "combined" %>
      <%= hidden_field_tag :active, 'combined' %>
    <% else %>
      <%= hidden_field_tag :active, 'list' %>
    <% end %>
  </div>

  <div class="form-group">
    <input type="submit" value="Search" tabindex="100" class="btn btn-primary w-100">
  </div>
</form>

<!-- selects css active tab styling based on params -->
<ul class="nav nav-tabs">
  <% if params[:active] == "map" %>
    <li class="#tab" id="#tab-list-view"><%= link_to "Project View", projects_path(active: "list", query: params[:query], distance: params[:distance], start_date: params[:start_date], wage: params[:wage], site_type: params[:site_type], sort_by: params[:sort_by], autoconfirm: params[:autoconfirm]) %></li>
    <li class="#tab active" id="#tab-map-view"><%= link_to "Map View", projects_map_path(active: "map", query: params[:query], distance: params[:distance], start_date: params[:start_date], wage: params[:wage], site_type: params[:site_type], sort_by: params[:sort_by], autoconfirm: params[:autoconfirm])  %></li>
    <li class="#tab" id="#tab-combined-view"><%= link_to "Combined View", projects_combined_path(active: "combined", query: params[:query], distance: params[:distance], start_date: params[:start_date], wage: params[:wage], site_type: params[:site_type], sort_by: params[:sort_by], autoconfirm: params[:autoconfirm]) %></li>
  <% elsif params[:active] == "combined" %>
    <li class="#tab" id="#tab-list-view"><%= link_to "Project View", projects_path(active: "list", query: params[:query], distance: params[:distance], start_date: params[:start_date], wage: params[:wage], site_type: params[:site_type], sort_by: params[:sort_by], autoconfirm: params[:autoconfirm]) %></li>
    <li class="#tab" id="#tab-map-view"><%= link_to "Map View", projects_map_path(active: "map", query: params[:query], distance: params[:distance], start_date: params[:start_date], wage: params[:wage], site_type: params[:site_type], sort_by: params[:sort_by], autoconfirm: params[:autoconfirm])  %></li>
    <li class="#tab active" id="#tab-combined-view"><%= link_to "Combined View", projects_combined_path(active: "combined", query: params[:query], distance: params[:distance], start_date: params[:start_date], wage: params[:wage], site_type: params[:site_type], sort_by: params[:sort_by], autoconfirm: params[:autoconfirm]) %></li>
  <% else %>
    <li class="#tab active" id="#tab-list-view"><%= link_to "Project View", projects_path(active: "list", query: params[:query], distance: params[:distance], start_date: params[:start_date], wage: params[:wage], site_type: params[:site_type], sort_by: params[:sort_by], autoconfirm: params[:autoconfirm]) %></li>
    <li class="#tab" id="#tab-map-view"><%= link_to "Map View", projects_map_path(active: "map", query: params[:query], distance: params[:distance], start_date: params[:start_date], wage: params[:wage], site_type: params[:site_type], sort_by: params[:sort_by], autoconfirm: params[:autoconfirm])  %></li>
    <li class="#tab" id="#tab-combined-view"><%= link_to "Combined View", projects_combined_path(active: "combined", query: params[:query], distance: params[:distance], start_date: params[:start_date], wage: params[:wage], site_type: params[:site_type], sort_by: params[:sort_by], autoconfirm: params[:autoconfirm]) %></li>
  <% end %>
</ul>
