<h2><%= link_to project.job_type, project_path(project) %></h2>
<h5><%= project.site.location %></h5>

<h6>Start Date: <%= project.start_date.strftime('%a, %b %d') %> </h6>
<p>Days: <%= (project.end_date - project.start_date).to_i %></p>
<p><%= number_to_currency(project.wage, unit: "£", precision: 0) %> / per hour</p>

