<div class="container">
  <%= render 'index_header' %>
</div>

  <div class="projects-container d-flex">
    <div class="projects-card-holder mx-3">
      <% if @results %>
          <h2>We found <%= pluralize(@projects.count, 'project') %> near "<%= @query %>":</h2>
      <% else %>
        <% if @query == "" || @query.nil? %>
          <h2> All Projects: </h2>
        <% else %>
          <div class="">
            <p class="no-results"><i class="fas fa-times text-danger"></i>  No projects found near "<%= @query %>"</p>
          </div>
          <h2>Additional options:</h2>
        <% end %>
      <% end %>

      <% @projects.each do |project| %>
      <div class="project-card bg-info d-flex justify-content-between align-items-center mb-2 p-2">

        <div class="project-card-photo bg-dark rounded d-flex align-items-center">
          <%= cl_image_tag project.site.photo.key, width: 72, height: 72, crop: :fit, class: "rounded" %>
        </div>

        <div class="project-card-details flex-grow-1 mx-2">

          <p><strong><%= link_to project.job_type, project_path(project) %></strong> - <small><i> <%= Geocoder::Calculations.distance_between(@query_coords, [project.site.latitude, project.site.longitude]).round(1)%> km away </i></small></p>

          <p>
            <% project.project_qualifications.each_with_index do |pq, i| %>
              <% if i != project.project_qualifications.size - 1 %>
                <%= pq.qualification.name %> +
              <% else %>
                <%= pq.qualification.name %>
              <% end %>
            <% end %>
          </p>

          <% if check_project_for_application_overlap(project) %>
            <p style="color:red"> Project overlaps with open applications</p>
          <% end %>

        </div>

        <div class="project-card-project-pay-info border-right align-self-stretch d-flex mr-3 pr-3 align-items-end justify-content-between">
          <p><%= project.start_date %></p>
          <p><%= project.end_date %></p>
          <div class="flex-grow-1"></div>
          <h5 class="mb-0 text-primary"><%= number_to_currency(project.wage, unit: "£", precision: 0) %> /hr </h5>
        </div>

        <div class="project-card-right-combined text-center">

          <% if check_project_qualification_requirements(project) %>
            <div class="apply-button">
              <% if project.autoconfirm == true %>
                <%= simple_form_for [project, @placement], remote: true do |f| %>
                  <%= f.submit "Instant Confirm", class:"btn btn-primary w-100" %>
                <% end %>
              <% else %>
                <%= simple_form_for [project, @placement], remote: true do |f| %>
                  <%= f.submit "Submit Application", class:"btn btn-primary w-100" %>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="apply-button inactive">
              <div class="bg-secondary rounded py-2 w-100">Qualification Needed</div>
            </div>
          <% end %>

          <p class="mb-0"><%= project.capacity - project.placements.where(confirmed: true).count %> spots remaining</p>

          <!-- end of card body -->
        </div>
        <!-- end of indiidual card -->
      </div>
      <!-- end of iteration -->
    <% end %>
    </div>

    <div id="map-2"
     style="width: 600px; height: 100vh; position:sticky; top:0;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
