<div class="container">

  <div class="dashboard-search">
    <form method="get" action="/projects" class="w-200 p-3" >

      <input type="text" name="query" autocomplete="off" placeholder="<%= params[:query] %>" tabindex="100" class="form-control w-25" id="#flat_address">

      <div class="filter-site-type">
        <select id="site_type" name="site_type" class="form-control h-1.9 w-500">
          <option value="commercial">Commercial</option>
          <option value="residential">Residential</option>
          <option value="industrial">Industrial</option>
        </select>
      </div>

      <div class="filter-wage">
        <input type="number" name="wage" autocomplete="off" placeholder="Enter Minimum Wage" tabindex="100" class="form-control" id="min-wage">
      </div>

      <div class="filter-start-date">
        <input type="date" name="start_date" autocomplete="off" placeholder="Enter Start Date" tabindex="100" class="form-control" id="start-date">
      </div>

      <input type="submit" value="Search" class="btn btn-flat">
        <input type="checkbox" name="autoconfirm" class="m-2" id="autoconfirm">
        <label for="autoconfirm" class = "">Auto-confirm only</label>

    </form>
  </div>

  <div class="projects-contatiner d-flex">
      <div class="projects-card-holder w-800">

        <h2>Results for "<%= @query %>":</h2>

        <!-- START testing unavailable date funcationality -->
<!--         <p> all: <%# @all_placement_dates.each do |date| %>
                       <%#= date %>
                     <%# end %>
        </p>
        <p> confirmed: <%# @confirmed_placement_dates.each do |date| %>
                       <%#= date %>
                     <%# end %>
        </p> -->
        <!-- END -->

        <% unless @results %>
          <div class="">
            <p class="no-results"><i class="fas fa-times text-danger"></i>  No results for "<%= @query %></p>
          </div>
          <h2>We suggest:</h2>
        <% end %>

        <% @projects.each do |project| %>
          <div class="project-card d-flex">
            <div class="project-card-photo">
              <%= cl_image_tag project.site.photo.key, width: 120, height: 120, crop: :fit%>
            </div>
            <div class="project-card-body d-flex justify-content-between">
              <div class="project-card-details">
                <div class="project-title">
                  <h2><%= link_to project.job_type, project_path(project) %></h2>
                  <h6>Start: <%= project.start_date.strftime('%a %b %d') %> </h6>
                  <h6>End: <%=  project.end_date.strftime('%a %b %d') %> </h6>
                  <p>Days: <%= (project.end_date - project.start_date).to_i %></p>
                  <p><%= number_to_currency(project.wage, unit: "£", precision: 0) %> / per hour</p>
                </div>
                <!-- <div class="project-dates">
                </div> -->
              </div>

              <div class="apply-button pr-3">
                <div class="apply-header">
                  <% project_dates = (project.start_date .. project.end_date) %>
                  <% @confirmed_placement_dates.each do |dates| %>
                    <% dates.to_a %>
                    <% project_dates.to_a %>
                    <% if project_dates.first <= dates.last && dates.first <= project_dates.last %>
                      <p style="color:red"> CONFLICT</p>
                    <% else %>
                      <p>Spots remaining: <%= project.capacity - project.placements.where(confirmed: true).count %></p>
                    <% end %>
                  <% end %>
                </div>

                <div class="button">
                  <%= simple_form_for [project, @placement], remote: true do |f| %>
                    <%= f.submit "Apply now", class:"btn btn-primary" %>
                    <% if project.autoconfirm == true %>
                      <p style="color:#ffe100">Instant Confirm!</p>
                    <% end %>
                  <% end %>
                </div>
              </div>
          <div class="apply-button" id="sweet-alert-apply">
            <%= simple_form_for [project, @placement], remote: true do |f| %>
              <%= f.submit "Apply now" %>

              <p>Autoconfirm?: <%= project.autoconfirm %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>



      <div id="map"
       style="width: 600px; height: 100vh; position: sticky; top: 0;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

