<div class="container">
  <form method="get" action="/projects" class="home-search w-50 p-3">
    <input type="text" name="query" autocomplete="off" placeholder="Enter Postcode" tabindex="100" class="form-control">
    <a class="btn btn-flat" href="#">Search</a>
  </form>
  <div class="projects-contatiner d-flex">
    <div class="projects-card-holder">
      <h2>Results for "<%= @query %>":</h2>
      <% unless @results %>
        <div class="">
          <p class="no-results"><i class="fas fa-times text-danger"></i>  No results for "<%= @query %></p>
        </div>
        <h2>We suggest:</h2>
      <% end %>
      <% @projects.each do |project| %>
        <%= link_to project_path(project) do  %>
          <div class="project-card border">
            <div class="project-details">
              <h1><%= project.job_type %></h1>
              <p><%= project.id %></p>
              <p>Details: <%= project.description %></p>
              <p>Pay: <%= project.wage %></p>
              <p>Spots Left: <%= project.capacity - project.placements.where(confirmed: true).count %></p>
              <p>Length: <%= (project.end_date - project.start_date).to_i %></p>
            </div>
            <div class="project-location">
              <h3><%= project.site.location %></h3>
            </div>
        <% end %>
            <div class="apply-button">
              <%= simple_form_for [project, @placement] do |f| %>
              <%= f.submit "Apply now"%>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>


    <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
</div>

