<div class="container">

  <div class="dashboard-search">

    <form method="get" action="/projects" class="w-100 p-3 d-flex justify-content-between" >
      <input type="text" name="query" autocomplete="off" value="<%= params[:query] %>" tabindex="100" class="form-control w-25" id="flat_address">
      <div class="filter-distance">
        <input type="number" name="distance" autocomplete="off" placeholder="Enter Max distance" tabindex="50" class="form-control" id="max-distance">
      </div>
      <div class="filter-site-type">
        <select id="site_type" name="site_type" class="form-control h-1.9 w-500">
          <option value=""></option>
          <% Site::SITE_TYPES.each do |name| %>
            <option value="<%= name %>"><%= name %></option>
          <% end %>
        </select>
      </div>

      <div class="filter-wage">
        <input type="number" name="wage" autocomplete="off" placeholder="Enter Minimum Wage" tabindex="100" class="form-control" id="min-wage">
      </div>

      <div class="filter-start-date">
        <input type="date" name="start_date" autocomplete="off" placeholder="Enter Start Date" tabindex="100" class="form-control" id="start-date">
      </div>

      <input type="submit" value="Search" class="btn btn-flat">
        <input type="checkbox" name="autoconfirm" class="m-2" id="autoconfirm">
        <label for="autoconfirm" class = "m-0" style="line-height: 2;">Auto-confirm</label>

      <select id="sort_by" name="sort_by" class="form-control h-1.9 w-500">
        <option value=""></option>
        <option value="wage">Wage</option>
        <option value="start_date">Start Date</option>
      </select>
    </form>
  </div>

      <ul class="nav nav-tabs">
      <li class="tab active" id="tab-list-view"><a href="#">List View</a></li>
      <li class="tab" id="tab-map-view"><a href="#">Map View</a></li>
      <li class="tab" id="tab-combined-view"><a href="#">Combined View</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="list-view">
        <%= render 'card_index' %>
      </div>
      <div class="tab-pane" id="map-view">
        <%= render 'map_index' %>
      </div>
      <div class="tab-pane" id="combined-view">
        <%= render 'card_plus_map_index' %>
      </div>
    </div>

</div>

