<div id="teamApplicationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="project-title" id="teamApplicationModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% employees = [] %>
        <% @business.employments.each do |empl| %>
          <%  employees << empl.user %>
        <% end %>
        <p><%= @business.name %></p>
        <input type="button" class="btn btn-primary" value="Select All" id="selectAll">
        <% employees.each do |employee| %>
          <%= simple_form_for @placement, :url => team_placement_path, :method => :post, remote: true  do |f| %>
            <input class="add-user" type="checkbox">
            <%= f.label employee.first_name + " " + employee.last_name %>
            <%= f.input :user_id, :as => :hidden, :input_html => { :value => employee.id } %>
            <%= f.input :project_id, :as => :hidden, :input_html => { :class => 'project-id' }%>
            <%#= f.submit "submit", class:"btn btn-primary w-50 team-form" %>
          <% end %>
        <% end %>
        <input type="button" class="btn btn-primary" value="Submit All" id="submitAll" />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render 'index_header' %>
  <div class="projects-card-holder w-800">
    <% if @projects.empty? %>
      <div class="no-projects bg-info d-flex align-items-center justify-content-center py-4 rounded">
        <h1>No projects yet, come back soon!</h1>
      </div>
    <% else %>
      <% if @results %>
        <h2>We found <%= pluralize(@projects.count, 'project') %> near "<%= @query %>":</h2>
      <% else %>
        <% if @query == "" || @query.nil? %>
          <h2> All Projects: </h2>
        <% else %>
          <div class="">
            <p class="no-results"><i class="fas fa-times text-danger"></i>  No projects found near "<%= @query %>"</p>
        </div>
        <h2>Additional options:</h2>
      <% end %>
    <% end %>
    <!-- testing small business setup -->
    <% unless @business.nil? %>
      <h1><%= @business.name %> - <%= @business.employments.count %></h1>
    <% end %>
    <!-- end of test section -->

      <% @projects.each do |project| %>
        <div class="project-card bg-info d-flex justify-content-between align-items-center mb-2 p-2">

          <div class="project-card-photo bg-dark rounded d-flex align-items-center">
            <%= cl_image_tag project.site.photo.key, width: 72, height: 72, crop: :fit, class: "rounded" %>
          </div>

          <div class="project-card-details flex-grow-1 mx-2">

            <p><strong><%= link_to project.job_type, project_path(project) %></strong>
               <% unless @query_coords.nil? %>
                - <small><i><%= Geocoder::Calculations.distance_between(@query_coords, [project.site.latitude, project.site.longitude]).round(1)%> km away</i></small></p>
              <% end %>
            <p>
              <% project.project_qualifications.each_with_index do |pq, i| %>
                <% if i != project.project_qualifications.size - 1 %>
                  <%= pq.qualification.name %> +
                <% else %>
                  <%= pq.qualification.name %>
                <% end %>
              <% end %>
            </p>

            <% if check_project_for_application_overlap(project) %>
              <p style="color:red"> Project overlaps with open applications</p>
            <% end %>

          </div>

          <div class="project-card-project-pay-info border-right d-flex h-100 mr-3 pr-3 align-items-end justify-content-between">
            <p><%= project.start_date %> - <%=  project.end_date %> </p>
            <h5 class="mb-0"><%= number_to_currency(project.wage, unit: "£", precision: 0) %> /hr </h5>
          </div>

          <div class="project-card-right text-center">

            <% if check_project_qualification_requirements(project) %>
              <!-- check to see if solo or business -->
              <div class="apply-button">
                <% if  @business.nil?%>
                <!-- solo -->
                  <% if project.autoconfirm == true %>
                    <%= simple_form_for [project, @placement], remote: true do |f| %>
                      <%= f.submit "Instant Confirm", class:"btn btn-primary w-100" %>
                    <% end %>
                  <% else %>
                    <%= simple_form_for [project, @placement], remote: true do |f| %>
                      <%= f.submit "Submit Application", class:"btn btn-primary w-100" %>
                    <% end %>
                  <% end %>
                <% else %>
                <!-- business -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#teamApplicationModal" data-project="<%= project.id %>" data-project-type="<%= project.job_type %>">
                  Team Application</button>
                <% end %>
              </div>

            <% else %>
              <div class="apply-button inactive">
                <div class="bg-secondary rounded py-2 w-100">Qualification Needed</div>
              </div>
            <% end %>

            <p class="mb-0"><%= project.capacity - project.placements.where(confirmed: true).count %> spots remaining</p>

            <!-- end of card body -->
          </div>
          <!-- end of individual card -->
        </div>
        <!-- end of iteration -->
      <% end %>
    <!-- end of card holder -->
    <% end %>
  </div>
  <!-- end of container -->
</div>


