<div class="container">

  <div class="back-button d-flex justify-content-end mt-5">
    <%= link_to 'Back to search', projects_path %>
  </div>
  <div class="project-show-container rounded bg-info p-3">
    <div class="project-header  border-bottom">

      <div class="header-top pb-2 d-flex justify-content-between">
       <div class="project-top-header-left d-flex w-100">

          <div class="project-header-left-photo rounded">
            <%= cl_image_tag @project.site.photo.key, height: 80, width: 80, alt: "Company Logo", class: "rounded" %>
          </div>

          <div class="project-header-left-text ml-2 flex-grow-1">
            <h1 class="mb-0"><%= @project.site.name %> </h1>
            <h3 class="mb-0"><%= @project.site.site_type %> development</h3>
          </div>

          <% if check_project_qualification_requirements(@project) %>
            <div class="apply-button">
              <p class="mb-0"><%= @project.capacity - @project.placements.where(confirmed: true).count %> spots remaining</p>
              <% if @project.autoconfirm == true %>
                <%= simple_form_for [@project, @placement], remote: true do |f| %>
                  <%= f.submit "Instant Confirm", class:"btn btn-primary w-100" %>
                <% end %>
              <% else %>
                <%= simple_form_for [@project, @placement], remote: true do |f| %>
                  <%= f.submit "Submit Application", class:"btn btn-primary w-100" %>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="apply-button inactive">
              <div class="bg-secondary rounded py-2 w-100" align="center">Qualification Needed</div>
            </div>
          <% end %>

        </div>

      </div>

    </div>
    <div class="project-show-card d-flex justify-content-between mt-3">
      <div class="project-show-card-body rounded p-3 w-100 mr-3">
        <div class="project-show-card-body-section d-flex justify-content-between align-items-center">
          <h3 class="mb-0"><%= @project.job_type %></h3>
          <h3 class="project-show-card-body-section text-primary mb-0"><%= number_to_currency(@project.wage, unit: "£", precision: 0) %><small> /hr</small></h3>
        </div>

        <h5 class="project-show-card-body-section"><%= @project.start_date.strftime('%a, %b %d') %> - <%= @project.end_date.strftime('%a, %b %d')  %> </h5>
        <p class="project-show-card-body-section"><%= @project.description.capitalize%></p>
        <div class="project-show-card-body-section">
          <p>Necessary Qualifications:</p>
          <ul>
            <% @project.project_qualifications.each_with_index do |pq, i| %>
              <% if i != @project.project_qualifications.size - 1 %>
                <li><%= pq.qualification.name %></li>
              <% else %>
                <li> <%= pq.qualification.name %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="map-section rounded p-3">
        <h3><%= @project.site.location%></h3>
        <div id="map-2"
         style="width: 600px; height: 300px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>


