<h1><%= @project.job_type %>, <%= @project.site.location %> </h1>
<% project_length = (@project.end_date - @project.start_date).to_i%>
<h2><%= number_to_currency(@project.wage, unit: "£", precision: 0) %>/hr (<%= (project_length + 1) %> days)</h2>
<h2>Start: <%= @project.start_date %> </h2>
<h2>End: <%= @project.end_date %></h2>
<h3><%= @project.site.name %> - <%= @project.site.site_type %> development </h3>
<h4><%=@project.capacity%> spots left!</h4>
<p><%= @project.description.capitalize%></p>
<%= @project.id %>
<% @project.project_qualifications.each do |pqualification| %>
<p><%= pqualification.qualification.name %></p>
  <% end %>

<%= simple_form_for [@project, @placement] do |f| %>
<%= f.submit "Apply now"%>
<% end %>

<h1>The above number of days may need to be changed to take in to account weekends</h1>


